In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(10, 4))

In [3]:
df

          0         1         2         3
0 -0.613876 -0.194700  0.410841 -0.236805
1 -1.021361  1.029244  0.634127 -0.629062
2 -0.958489  1.189671  0.047391 -0.410805
3 -0.320888  1.311311 -0.309710 -0.136716
4 -1.573149 -0.381066  1.042345 -0.128602
5  2.269634 -0.301884  0.536836 -0.419120
6 -1.315913 -0.758882 -1.086455 -1.319074
7  1.316288 -0.854269  0.231172 -0.456639
8  1.638529 -1.001465  0.350551 -1.568421
9  0.882754 -0.214923  0.071357  0.261445

In [4]:
pieces = [df[:3], df[3:7], df[7:]]

In [5]:
pieces

[          0         1         2         3
 0 -0.613876 -0.194700  0.410841 -0.236805
 1 -1.021361  1.029244  0.634127 -0.629062
 2 -0.958489  1.189671  0.047391 -0.410805,
           0         1         2         3
 3 -0.320888  1.311311 -0.309710 -0.136716
 4 -1.573149 -0.381066  1.042345 -0.128602
 5  2.269634 -0.301884  0.536836 -0.419120
 6 -1.315913 -0.758882 -1.086455 -1.319074,
           0         1         2         3
 7  1.316288 -0.854269  0.231172 -0.456639
 8  1.638529 -1.001465  0.350551 -1.568421
 9  0.882754 -0.214923  0.071357  0.261445]

In [7]:
# Concatenate DFs
pd.concat(pieces)

          0         1         2         3
0 -0.613876 -0.194700  0.410841 -0.236805
1 -1.021361  1.029244  0.634127 -0.629062
2 -0.958489  1.189671  0.047391 -0.410805
3 -0.320888  1.311311 -0.309710 -0.136716
4 -1.573149 -0.381066  1.042345 -0.128602
5  2.269634 -0.301884  0.536836 -0.419120
6 -1.315913 -0.758882 -1.086455 -1.319074
7  1.316288 -0.854269  0.231172 -0.456639
8  1.638529 -1.001465  0.350551 -1.568421
9  0.882754 -0.214923  0.071357  0.261445

In [8]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})

In [9]:
left

   key  lval
0  foo     1
1  foo     2

In [10]:
right

   key  rval
0  foo     4
1  foo     5

In [17]:
# Using Merge to combine two DFs
pd.merge(left, right, on="key")

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [18]:
df3 = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

In [19]:
df3

     A      B         C         D
0  foo    one -0.085627  1.075858
1  bar    one  0.734029  1.700894
2  foo    two -1.221770  0.313838
3  bar  three  1.801754 -0.694676
4  foo    two -1.191629 -0.052560
5  bar    two -0.170459  0.234367
6  foo    one  0.853801 -0.624564
7  foo  three -0.502726 -1.933756

In [21]:
# Grouping DFs

df3.groupby("A")[["C", "D"]].sum()

            C         D
A
bar  2.365325  1.240584
foo -2.147952 -1.221184

In [22]:
df3.groupby(["A", "B"]).sum()

                  C         D
A   B
bar one    0.734029  1.700894
    three  1.801754 -0.694676
    two   -0.170459  0.234367
foo one    0.768173  0.451295
    three -0.502726 -1.933756
    two   -2.413399  0.261278

In [23]:
# Reshaping Stack

tuples = list(
    zip(
        ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
        ["one", "two", "one", "two", "one", "two", "one", "two"],
    )
)

In [24]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [25]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])

In [27]:
df4 = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])

In [29]:
df5 = df4[:4]

In [30]:
df5

                     A         B
first second
bar   one    -0.828501  0.865223
      two    -0.192661  0.586904
baz   one     0.904974 -1.280054
      two    -1.354303 -0.323379