In [1]:
# np.nan  --> to represent missing data

In [3]:
import pandas as pd
import numpy as np

dates = pd.date_range("20130101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [4]:
df

                   A         B         C         D
2013-01-01 -1.974415 -1.815294  0.328820  1.087163
2013-01-02 -0.031490  0.297032  0.434046  1.251284
2013-01-03 -0.315673 -1.447203  0.211837 -0.624820
2013-01-04  0.292987 -1.585787 -1.852396  0.967886
2013-01-05  0.392825  0.505572 -0.126668  0.691968
2013-01-06  1.483829 -1.411486  0.004214  0.546055

In [5]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

df1.loc[dates[0] : dates[1], "E"] = 1

In [6]:
df1

                   A         B         C         D    E
2013-01-01 -1.974415 -1.815294  0.328820  1.087163  1.0
2013-01-02 -0.031490  0.297032  0.434046  1.251284  1.0
2013-01-03 -0.315673 -1.447203  0.211837 -0.624820  NaN
2013-01-04  0.292987 -1.585787 -1.852396  0.967886  NaN

In [9]:
# Drops any row which has a NULL value
df1.dropna(how="any")

                   A         B         C         D    E
2013-01-01 -1.974415 -1.815294  0.328820  1.087163  1.0
2013-01-02 -0.031490  0.297032  0.434046  1.251284  1.0

In [10]:
# Fill NULL value with a value

df1.fillna(value=12345)

                   A         B         C         D        E
2013-01-01 -1.974415 -1.815294  0.328820  1.087163      1.0
2013-01-02 -0.031490  0.297032  0.434046  1.251284      1.0
2013-01-03 -0.315673 -1.447203  0.211837 -0.624820  12345.0
2013-01-04  0.292987 -1.585787 -1.852396  0.967886  12345.0

In [12]:
# True if NA value is present
pd.isna(df1['E'])

2013-01-01    False
2013-01-02    False
2013-01-03     True
2013-01-04     True
Freq: D, Name: E, dtype: bool