In [1]:
import pandas as pd
import numpy as np

dates = pd.date_range("20130101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [2]:
df

                   A         B         C         D
2013-01-01 -0.861595  1.484923 -0.353793 -0.570283
2013-01-02  0.348377 -1.292891 -0.108475  0.509132
2013-01-03  0.878780  0.044528  1.871044  0.489827
2013-01-04 -0.059541  0.318014 -2.139415  1.018739
2013-01-05 -0.262169  1.488689  0.212344  1.766538
2013-01-06 -0.208540 -0.362082 -0.429416  0.928568

In [3]:
# Mean 

df.mean()

A   -0.027448
B    0.280197
C   -0.157952
D    0.690420
dtype: float64

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

In [5]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [6]:
# df.apply --> applies a user defined function to the data

df.apply(np.cumsum)

                   A         B         C         D
2013-01-01 -0.861595  1.484923 -0.353793 -0.570283
2013-01-02 -0.513218  0.192032 -0.462269 -0.061151
2013-01-03  0.365562  0.236560  1.408776  0.428676
2013-01-04  0.306021  0.554573 -0.730639  1.447414
2013-01-05  0.043852  2.043262 -0.518295  3.213952
2013-01-06 -0.164688  1.681180 -0.947711  4.142521

In [7]:
df.apply(lambda x: x.max() - x.min())

A    1.740375
B    2.781580
C    4.010459
D    2.336821
dtype: float64

In [8]:
s1 = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])

In [9]:
s1.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object