In [1]:
import pandas as pd 
import numpy as np

In [2]:
dates = pd.date_range("20130101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [3]:
df

                   A         B         C         D
2013-01-01  0.611782 -1.007804  0.602795  0.418030
2013-01-02 -1.509317  0.848363  0.212078  0.108143
2013-01-03  0.312468  1.238899 -0.968888 -1.273762
2013-01-04 -1.386591 -0.786737  1.646185  0.585483
2013-01-05  0.674999 -1.069760  0.334548  0.803330
2013-01-06 -0.013959 -0.159941 -0.643591 -1.052878

In [4]:
# Selecting a single column

df["B"]

2013-01-01   -1.007804
2013-01-02    0.848363
2013-01-03    1.238899
2013-01-04   -0.786737
2013-01-05   -1.069760
2013-01-06   -0.159941
Freq: D, Name: B, dtype: float64

In [5]:
# By Slicing 
df[0:3]

                   A         B         C         D
2013-01-01  0.611782 -1.007804  0.602795  0.418030
2013-01-02 -1.509317  0.848363  0.212078  0.108143
2013-01-03  0.312468  1.238899 -0.968888 -1.273762

In [6]:
# getting a cross section using a label
df.loc[dates[0]]

A    0.611782
B   -1.007804
C    0.602795
D    0.418030
Name: 2013-01-01 00:00:00, dtype: float64

In [7]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
#  on a multi-axis by label
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01  0.611782 -1.007804
2013-01-02 -1.509317  0.848363
2013-01-03  0.312468  1.238899
2013-01-04 -1.386591 -0.786737
2013-01-05  0.674999 -1.069760
2013-01-06 -0.013959 -0.159941

In [9]:
# Showing label slicing, both endpoints are included:
df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02 -1.509317  0.848363
2013-01-03  0.312468  1.238899
2013-01-04 -1.386591 -0.786737

In [10]:
# Select via the position of the passed integers
df.iloc[3]

A   -1.386591
B   -0.786737
C    1.646185
D    0.585483
Name: 2013-01-04 00:00:00, dtype: float64

In [11]:
# Integer Slicing 
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -1.386591 -0.786737
2013-01-05  0.674999 -1.069760

In [13]:
# For getting a value explicitly
df.iloc[1,1]

0.848363068133263

In [14]:
# Selecting and Filtering Data 

df2 = df.copy()

df2["E"] = ["one", "one", "two", "three", "four", "three"]

df2[df2["E"].isin(["two", "four"])]

                   A         B         C         D     E
2013-01-03  0.312468  1.238899 -0.968888 -1.273762   two
2013-01-05  0.674999 -1.069760  0.334548  0.803330  four